<settings>
    <servers>
        <server>
            <id>pits-release</id>
            <username>${env.PITS_NEXUS_USR}</username>
            <password>${env.PITS_NEXUS_PSW}</password>
        </server>
        <server>
            <id>pits-snapshot</id>
            <username>${env.PITS_NEXUS_USR}</username>
            <password>${env.PITS_NEXUS_PSW}</password>
        </server>
    </servers>
</settings>
